<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <title>Senate Loyalty Party</title>
</head>

<body class="container">
    <div id="app">
        <header>
            <div class="flexheader">
                <div>
                    <img src="img/congress-gov-logo.jpeg" id="imageLogo">
                </div>

                <div>
                    <a href="mailto:tgift@tgift.net" target="_blank" rel="nofollow" title="Contact With Us"> <i
                            class="fa fa-envelope-square"></i> info@tgif.net</a>
                </div>
            </div>
        </header>

        <!-- navbar vue-component -->
        <nav-bar></nav-bar>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Loyalty</a></li>
            <li class="active">Senate</li>
        </ol>

        <div id="app">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                        respectively, tend to be the most faithful in voting for their party's nominee for office and
                        legislation that backs their party's agenda. </p>
                </div>
                <div class="col-sm-6 loader" id="loader1" v-if="allMembers.length==0"></div>
                <div class="col-sm-6 memberTable" v-else>
                    <h2>Senate at a glance</h2>
                    <!-- table vue-component -->
                    <first-table :message="Party" :totalreps="totalReps" :generalavg="generalAvg"></first-table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 loader" id="loader2" v-if="allMembers.length==0"></div>
                <div class="col-sm-6 memberTable" v-else>
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <!-- table vue-component -->
                    <most-least-table :message="LeastLoyal" :condition="page"></most-least-table>
                </div>
                <div class="col-sm-6 loader" id="loader3" v-if="allMembers.length==0"></div>
                <div class="col-sm-6 memberTable" v-else>
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <!-- table vue-component -->
                    <most-least-table :message="MostLoyal" condition="page"></most-least-table>
                </div>
            </div>
        </div>
        <footer class="navbar navbar-default">
            <div class="footer ">&copy;2016 | All Rigths Reserverd </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="pro-congress-113-senate.js"></script> -->
    <script src="chamber_vue.js"></script>
</body>

</html>