<!DOCTYPE html>
<script>
    var statistics = {
        "Number of Democrats": 0,
        "Number of Republicans": 0,
        "Vote with Party": 0,
        "No Vote With Party": 0,
        "Missed Votes": 0,
        "No Missed Votes": 0
    };
</script>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <title>Senate Attendance</title>
</head>

<body class="container">
    <div id="app">
        <header>
            <div class="flexheader">
                <div>
                    <img src="img/congress-gov-logo.jpeg" id="imageLogo">
                </div>

                <div>
                    <a href="mailto:tgift@tgift.net" target="_blank" rel="nofollow" title="Contact With Us"> <i
                            class="fa fa-envelope-square"></i> info@tgif.net</a>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Congress 113</a>
                        <ul class="dropdown-menu">
                            <li><a href="senate.html">Senate</a></li>
                            <li><a href="house.html">House</a></li>
                        </ul>

                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Attendance-Senate</a>
                        <ul class="dropdown-menu">
                            <li><a href="senate_attendance_page.html">Senate</a></li>
                            <li><a href="house_attendance_page.html">House</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Loyalty</a>
                        <ul class="dropdown-menu">
                            <li><a href="senate_loyalty_page.html">Senate</a></li>
                            <li><a href="house_loyalty_page.html">House</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Legislators By
                            State</a>

                        <ul class="dropdown-menu">
                            <li v-for="state in filteredStates " v-model="st">
                                <a :href="'LegislatorsbyState.html?='+ state">{{state}}</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </nav>


        <header>
            <div>
            </div>
        </header>
        <!--Table container-->

        <div class="row">
            <div class="col-sm-6">
                <h2>Attendance</h2>
                <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each
                    house.
                    Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus,
                    in most
                    cases, debates continue even if a majority is not present.</p>

                <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator
                    stating "aye"
                    or "no" when his or her name is announced. The House reserves roll-call votes for the most formal
                    matters,
                    as a roll-call of all 435 representatives takes quite some time; normally, members vote by
                    electronic
                    device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may
                    (if
                    present) cast the tiebreaking vote.</p>
            </div>
            <div class="col-sm-6 loader" id="loader1" v-if="allMembers.length==0"></div>
            <div class="col-sm-6 memberTable" v-else>
                <h2>Senate at a glance</h2>
                <first-table :message="Party" :totalreps="totalReps" :generalavg="generalAvg"></first-table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 loader" id="loader2" v-if="allMembers.length==0"></div>
            <div class="col-sm-6 memberTable" v-else>
                <h2>Least Engaged (Bottom 10% Attendance)</h2>
                <testing :message="LeastEngaged"></testing>
            </div>


            <div class="col-sm-6 loader" id="loader3" v-if="allMembers.length==0"></div>
            <div class="col-sm-6 memberTable" v-else>
                <h2>Most Engaged (Top 10% Attendance)</h2>
                <testing :message="MostEngaged"></testing>
            </div>
        </div>

        <footer class="navbar navbar-default">
            <div class="footer ">&copy;2016 | All Rigths Reserverd </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="pro-congress-113-senate.js"></script> -->
    <script src="attendance_vue.js"></script>
</body>

</html>